body,html{ 
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin:0;
  padding:0;
}
a {
  color:#052f30;
  font-weight:400;
}
a:hover {
  background-color:#f5ee4a;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -1.25rem;
}
ul.dashed > li:before {
  content: "— ";
  text-indent: -1.25rem;
}
#top {
  width:100%;
  top:0;
  left:0;
  min-width:20rem;
  text-align:center;
}
div.stage {
  float:left;
  width:50%;
  padding:1rem 0 1rem 0;
}
#titlebar {
  font-size:200%;
  font-weight:bold;
  background-color:#fff;
  color:#2c2c2c;
  margin:auto;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}
#titlebar img {
  height:3rem;
  vertical-align:middle;
}
#sitetitle {
  margin-left:0.5rem;
  color:#cccccc;
}
#sitetitle a {
  color:#cccccc;
  text-decoration:none;
}
#designs {
  margin-bottom:0.25rem;
  margin-left:15rem;
}
#designs .title {
  padding:0.5rem;
  text-align:center;
  font-size:145%;
  clear:both;
  background-color:#1e57c8;
  color:#fff;
}
#designs .title img.facet {
  border:none;
  height:1.75rem;
  padding-right:0.25rem;
  padding-left:0.25rem;
  float:right;
}
#designs .before, #designs .after {
  max-width:31rem;
}
#designs .before div, #designs .after div {
  margin-bottom:1rem;
}
#designs .before img, #designs .after img {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;  
  max-width:100%;
  width:auto;
  border:1px solid #999999;
}
.designtitle {
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  text-align:center;
  font-size:135%;
  clear:both;
  background-color:#cccccc;
}
.designtitle img.facet {
  border:none;
  height:1.75rem;
  padding-right:0.25rem;
  padding-left:0.25rem;
  float:right;
}
#nav {
  float:left;
  position:fixed;
  overflow:auto;
  height:100%;
  background-color:#dddddd;
  color:#333333;
  font-size:110%;
  width:15rem;
  border-right:1px solid #fff;
  padding-top:0.5rem;
}
#nav .design {
  width:11rem;
  background-color:#d9d9d9;
  border-bottom:3px solid #fff;
  vertical-align:middle;
  font-weight:bold;
  font-size:80%;
  cursor:pointer;
}
#nav .subTitle {
  padding-left:1rem;
  padding-right:0.5rem;
  padding-bottom:0.25rem;
  font-style:italic;
  font-size:110%;
  font-weight:lighter;
}
#nav div.sub {
  font-size:90%;
  text-transform:uppercase;
  padding:0.25rem 1rem 0.25rem 1rem;
  font-weight:bold;
}
#nav div.sub a {
  font-weight:bold;
}
#nav div.sub.selected, #nav div.sub.selected a {
  color:#fff;
  background-color:#1e57c8;
}
#nav div.sub img {
  height:1rem;
  padding-right:0.25rem;
  vertical-align:middle;
}
#nav a {
  color:#333333;
}
#nav>div {
  margin-bottom:1rem;
}
#nav ul {
  margin:0;
  padding-left:2rem;
}
#nav li {
  font-size:90%;
}
#nav li li {
  font-size:85%;
}
div.button {
  float:right;
  margin-right:30px;
  cursor:pointer;
}
.bolded {
  font-weight:600;
}
.problem, .solution {
  font-size:120%;
  font-weight:600;
  text-transform:uppercase;
  text-decoration:underline;
}
div.stage {
  float:left;
  width:50%;
  padding:1rem 0 1rem 0;
}
div.before {
  width:100%;
  text-align:right;
  float:right;
}
div.before .inner {
  padding-right:1rem;
}
div.after {
  width:100%;
  text-align:left;
  float:left;
}
div.after .inner {
  padding-left:1rem;
  border-left:1px solid #bbbbbb;
}
div#explanation {
  font-size:110%;
  font-weight:lighter;
  padding-bottom:1rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  max-width:50rem;
  margin:auto;
}
.todo {
  font-weight:bold;
  size:1rem;
  background-color:yellow;
  color:#000;
}
.todo::before {
  content:"TODO: ";
}
div.evidence {
  font-style:italic;
}